Atom enclosures do have titles

Per [RFC 4287, section 4.2.7.5](https://tools.ietf.org/html/rfc4287#section-4.2.7.5) enclosures (and links in general) can in fact have titles associated with them.  The last line of the mapping document might, therefore, read as follows:

```
* Atom's `link` with `rel="enclosure"` maps to `attachments` in JSON Feed. An Atom enclosure has attributes `href`, `title`, `length`, and `type`, and the JSON Feed attachment object has corresponding elements `url`, `title`, `size_in_bytes`, and `mime_type`. JSON Feed adds `duration_in_seconds`.
```

There is, however, a slight wrinkle in equivalence in that Atom assigns no meaning to two enclosures having the same title.