RFC5005 compliance?

https://tools.ietf.org/html/rfc5005

My first thought was I don't see info on feed paging, which in many circumstances is desirable when your feed content exceeds 1Mb in size, even with minification applied.

Podcasts with over 500 episodes and shownotes, web blogs that have posted weekly for the last decade, etc. Feed consumers for this volume of content benefit greatly from breaking the feed data up into sizable chunks. How the chunking works would be an implementation detail of the utility in question, but having feed paging seems like a proper and necessary thing.

There are other concerns about being able to mark feeds as `complete` or `archived` in compliance with RFC5005 section 2 & 4 respectively.

to some extent (but incompletely) this is covered by `next_url`. however, it seems to me that it is unfortunate to partly support the feature of a popular atom extension, and in a way that is ad-hoc and cannot accommodate other extensions (published or yet-to-be-established ones). https://github.com/brentsimmons/JSONFeed/issues/88 and https://github.com/brentsimmons/JSONFeed/issues/94 talk about the same issue, essentially. RFC 5005 is a particularly obvious example, but it would be good to make sure that this is addressed in a way that's robust and reusable.

Yep, `next_url` covers most of this. There have been a couple discussions of whether there should be a JSON equivalent of how `rel` tags are used in RFC 5005 (and many other places) but instead JSON Feed tried to document the common cases directly in the spec. Thanks for your thoughts!