More useful pagination

I'd like to see the JSON Feed spec take some lessons from [RFC5005](https://tools.ietf.org/html/rfc5005), the "Feed Paging and Archiving" spec for Atom and RSS.

As it stands, JSON Feed's `next_url` attribute provides part of RFC5005's section 3 ("Paged Feeds"), but could be extended to allow `first`/`prev`/`last` navigation. I'm not personally particularly interested in this case, but it is frequently the easiest to retrofit into existing content management systems.

The absence of a `next_url` does not say anything about whether there are older entries in the feed, so it'd be useful to allow a flag like RFC5005's section 2 ("Complete Feeds") indicating that no entries exist besides those in the current document.

And RFC5005 section 4 ("Archived Feeds") provides for feed pages which clients may cache indefinitely. Feeds which follow the rules in that section enable readers to reliably mirror any amount of history from the feed without ever polling for updates on any page besides the current one. (And of course even that polling can be optimized with WebSub.)

Each of these is useful for different cases and I'd encourage providing all of them, but especially sections 2 and 4. The knowledge that all entries can be retrieved again from the origin feed has two immediate benefits for feed readers which keep local copies of old posts:

- They can delete local copies of posts which have been removed upstream.
- They can treat local copies purely as a cache which can be dumped as needed, regardless of how much history the user has requested to have preserved, allowing the illusion that the full archive is available locally.

For archived feeds, tombstones like those specified in [RFC6721](https://tools.ietf.org/html/rfc6721), 'The Atom "deleted-entry" Element', are also useful.

Thanks @jameysharp. How would you feel if we started by adding `prev_url` first and then consider other options later? For JSON Feed 1.1 I'd love to keep it to the bare minimum changes since it's supposed to be a very minor update.